{% extends 'base.html' %}

{% block app_content %}
    <form action="" method="post">
        {{ size.csrf_token() }}

        <p>
            {{ size.width.label() }}
            {{ size.width(placeholder=width) }}
            {% for error in size.width.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ size.height.label() }}
            {{ size.height(placeholder=height) }}
            {% for error in size.height.errors %}
                {{ error }}
            {% endfor %}
        </p>
        <p>
            {{ size.submit }}
        </p>
    </form>
    <a class="btn btn-primary" href="{{ url_for('live') }}">Запустить игру</a>
{% endblock %}
