{% extends 'base.html' %}

{% block app_content %}
    <a class="btn btn-warning home" href="{{ url_for('index') }}">На Главную</a>
    <div class="counter">{{ life.generation }}</div>
    <a class="btn btn-info refresh" href="{{ url_for('live') }}">Обновить</a>

    <table class="world">
        {% for i in range(life.world|length) %}
            <tr>
                {% for j in range(life.world[i]|length) %}
                    {% if life.world[i][j] %}
                        <td class="cell living-cell"></td>
                    {% elif life.old_world[i][j] %}
                        <td class="cell dead-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>setInterval(() => window.location.reload(), 1000);</script>
{% endblock %}
